<!-- METADATA -->


<section id="home" class="clearfix">

  <div id="hero" class="clearfix">
    <div id="hero-text">
      <h1> OMAHA'S FINEST </h1>
      <img id="foodtrucks" src="assets/foodtrucks.svg">
    </div>
    
    <object id="truck" type="image/svg+xml" data="assets/truck.svg" class="animated bounceInLeft delay3"></object>
  </div>
  <img class="skyline"  src="assets/part1.svg" alt="omaha skyline">
</section>

<section id="parttwo">
  <p>
    The Big O is seeing more and more food trucks pop-up in this food lovin’ metro.
    So which should you try? Here’s a few of the community’s favorites
    and where to find them around town on your lunch hour.
  </p>
</section>

<section id="partthree" class="clearfix">
  <div id="columnone">
    <h3>LOCALMOTIVE</h3>
    <object type="image/svg+xml" data="assets/foodtruck/train.svg" class="icon"></object>
    <div id="socialwrap" class="clearfix">
    <img src="assets/foodtruck/facebook.svg" class="social">
    <img src="assets/foodtruck/twitter.svg" class="social">
  </div>
  </div>
  <div id="columntwo" class="clearfix">
    <div id="textwrap">
      <img src="assets/foodtruck/flavor.svg" class="social center">
    <h1>FLAVOR</h1>
    <h2>street style </h2>
    
    <h1> MUST ORDER </h1>
    <h2>cordon bleu rounders
    <br> samosas </h2>
  </div>
    <object type="image/svg+xml" data="assets/foodtruck/11jackson.svg" class="sign"></object>
  </div>
</section>
   

   
 
      
 
      
      
                     
