<!doctype html>
<html>

<head>
  <title> Omaha's Finest Food Trucks | Omaha Food Trucks </title>
  <link rel="stylesheet" type="text/css" media="all" href = "/css/foodtruck.css" />
  <link rel="stylesheet" type="text/css" media="all" href = "/css/animate.css" />
  <meta name="viewport" content="initial-scale=1">
  
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
 
  <!-- META -->
  <html lang="en">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Omaha's Finest Food Trucks | Omaha Food Trucks"/>
  <meta property="og:description" content="Infographic on Omaha's favorite food trucks and where to find them around town on your lunch hour."/>
  <meta property="og:url" content="http://www.kickpunchcreative.com/omaha-food-trucks"/>
  <meta property="og:image" content="http://www.kickpunchcreative.com/assets/foodtruck/sharefoodtruck.png"/>
  <meta property='og:site_name' content="Omaha's Finest Food Trucks | Omaha Food Trucks"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Omaha's Finest Food Trucks | Omaha Food Trucks">
  <meta name="twitter:description" content="Infographic on Omaha's favorite food trucks and where to find them around town on your lunch hour.">
  <meta name="twitter:image" content="http://www.kickpunchcreative.com/assets/foodtruck/sharefoodtruck.png">
    
  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">

  <!-- STYLESHEETS -->
 
  
  
    <%=yield%>
<script type='text/javascript' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='cafaf25b7f68c4a50833173b0e78155e' data-cfasync='false' async='async'></script>
 
</body>
</html>