<!-- METADATA -->


<section id="home" class="clearfix">

  <div id="hero" class="clearfix">
    <div id="hero-text">
      <h1> OMAHA'S FINEST </h1>
      <img id="foodtrucks" src="assets/foodtrucks.svg">
    </div>
    
    <object id="truck" type="image/svg+xml" data="assets/truck.svg" class="animated bounceInLeft delay3"></object>
  </div>
  <img class="skyline"  src="assets/part1.svg" alt="omaha skyline">
</section>

<section id="parttwo">
  <p>
    The Big O is seeing more and more food trucks pop-up in this food lovin’ metro. These street food vendors offer great food, culture and are super convenient for short lunch breaks.
    So which should you try? Here’s a few of the community’s favorites
    and where to find them around town on your lunch hour.
  </p>
</section>

<section id="partthree" class="clearfix">
  
  <div id="columnone" class="clearfix">
    <h3>LOCALMOTIVE</h3>
    
    <object type="image/svg+xml" data="assets/foodtruck/train.svg" class="icon"></object>
    <div id="socialwrap" class="clearfix">
    <img src="assets/foodtruck/facebook.svg" class="social">
    <img src="assets/foodtruck/twitter.svg" class="social">
  </div>
  </div>
  
  <div id="columntwo" class="clearfix localmotive">
    <div id="textwrap" class="clearfix">
      <img src="assets/foodtruck/flavor.svg" class="flavor center">
    <h1>FLAVOR</h1>
    <h2>street style </h2>
    
    <h1> WHAT TO GET </h1>
    <h2>cordon bleu rounders
    <br> samosas </h2>
  </div>
    <object type="image/svg+xml" data="assets/foodtruck/11jackson.svg" class="sign"></object>
  </div>
  
  
</section>

  <div id="quote" class="clearfix">
   
<h1> WHAT THE LOCALS ARE SAYING</h1> 
<p>"The service is fast. The prices? Great... Localmotive, y'all keep doing you and I'll keep rounding up the crew to get rounders every weekend. Thanks for always making my Old Market experience 10x better." <b><br> Omaha Yelp Reviewer </b></p>
</div>
   

   
 
      
 
      
      
                     
