<!doctype html>
<html>

<head>
  <title> Kick Punch Creative. </title>
  <link rel="stylesheet" type="text/css" media="all" href = "/style.css" />
  <link rel="stylesheet" type="text/css" media="all" href = "/animate.css" />
  <meta name="viewport" content="initial-scale=1">
  
  <link href='https://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
  <meta charset="UTF-8">
  
  
</head>
<div id="header2" >
<a href="http://www.kickpunchcreative.com"><img src="kpc.svg" width="200px" class="header_logo"> </a>
<div id="contact_info"> Questions? Or anything wrong with the website? <a href="mailto:jeannie@kickpunchcreative.com?" target="_top"> <div class="akpc">Contact Us.</div></a></div>
</div>
<div class ="home">
<body>
  <div class="primary">
    <%=yield%>
  </div>

  <script style="text/javascript" src="/global.js">
  </script>
  <footer>
    <a href="http://www.kickpunchcreative.com" class="kpc">website imagination and creation by kick punch creative </a>
  </footer>
</div>
</body>
</html>