
<!DOCTYPE html>
<html>
<head>
  <!-- META -->
  <html lang="en">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Kick Punch Creative | Micro Design & Visual Content"/>
  <meta property="og:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web."/>
  <meta property="og:url" content="http://www.kickpunchcreative.com"/>
  <meta property="og:image" content="http://www.kickpunchcreative.com/assets/shareablekpc.jpg"/>
  <meta property='og:site_name' content="Kick Punch Creative | Micro Design & Visual Content"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Kick Punch Creative | Micro Design & Visual Content">
  <meta name="twitter:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web.">
  <meta name="twitter:image" content="http://www.kickpunchcreative.com/assets/shareablekpc.jpg">
    
  <!-- ICONS -->
  <link href="assets/favicon.ico" rel="shortcut icon">

  <!-- STYLESHEETS -->
  
  <link rel="stylesheet" type="text/css" href="css/o-style.css?sdfd"> 
  <link rel="stylesheet" type="text/css" href="css/o-work.css?sdfsdf"> 
  <link rel="stylesheet" type="text/css" href="css/o-animate.css?sdf"> 
  <link rel="stylesheet" type="text/css" href="css/o-responsive.css?dfdf"> 
  
  <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,200' rel='stylesheet' type='text/css'> 
  
  <section id="home">
    <div id="mobilenav" class="animated slideInLeft">
      <div id="mobile">
        <ul>
          <a href="/home">
            <li>
              home
            </li>
          </a>
          <a href="/our-work">
            <li>
              work
            </li>
          </a>
          <a  href="home/#services"> 
            <li>
              services
            </li>
          </a>
          <a class="scroll" data-speed="2000" href="#work"> 
            <li>
              content
            </li>
          </a>

             
           
           <a  target="blank" href="http://hello.kickpunchcreative.com"> 
            <li>
              blog
            </li>
          </a>
          <a  href="home/#tellus"> 
            <li>
              contact
            </li>
          </a>
          <a href="/our-team"> 
            <li>
              team
            </li>
          </a>
        </ul>
 
      </div>
      <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twit"></a>
      <br>
    
      <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="face"></a>
    </div>
  
  
    <header>
      <a href="/home">  <img id="logo" src="assets/logo.svg" class="logo bounceIn animated center"></a>
      <a href="/home"> <img id="logo-two" src="assets/logo-two.svg" class="logo bounceIn animated center"></a>
      
      <nav>
        <div class="center1">
          <ul>
            <a href="/our-work"> 
              <li>
                work
              </li>
            </a>
            <a  href="home/#services"> 
              <li>
                services
              </li>
            </a>
            <a class="scroll" data-speed="2000" href="#work"> 
              <li>
                content
              </li>
            </a>
      
            <div class="break"> </div>         
           
              <a  target="blank" href="http://hello.kickpunchcreative.com"> 
              <li>
                blog
              </li>
            </a>
            <a  href="home/#tellus"> 
              <li>
                contact
              </li>
            </a>
            <a href="/our-team"> 
              <li>
                team
              </li>
            </a>
          </ul>
        </div>
       
        <a href="/quote"><div id="contactquote">GET A QUOTE</div></a>
        <a target="blank" href="http://www.twitter.com/kickpunchomaha"><img src="assets/twitter.svg" class="twitter"></a>
        <a target="blank" href="http://www.facebook.com/kickpunchcreative"> <img src="assets/facebook.svg" class="facebook"></a>
      </nav>
      <div id="hamburger">
   
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="66 -320 766 646" enable-background="new 66 -320 766 646" xml:space="preserve">
        <g id="bottom">
	
          <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
        </g>
        <g id="top">
	
          <rect x="259" y="-101.052" fill="#FFFFFF" stroke="#3D383A" stroke-width="36" stroke-miterlimit="10" width="410" height="155.052"/>
        </g>
      </svg>
        
        
    </div>
  </header>
    
  <%=yield%>
     
     
  <div id="foot" class="clearfix">
    <div class="column">
      <a href="tel:4029150518" class="white">402.915.0518 </a>
      <br>
      <br>
      <a class="white" href="mailto:jeannie@kickpunchcreative.com"> jeannie@kickpunchcreative.com </a>
      <br>
     
      omaha, nebraska 
      <br>
      
      <img src="assets/mail.svg" class="phone" alt="contact information">
    </div>
       
    <div class="column">
      <b>Kick Punch Creative </b>is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Micro-content is an essential addition to your business’s marketing strategy.
    </div>
    <div class="column">
      <img src="assets/wdc.svg" class="wdc center" alt="kick punch creative we don't coast">
    </div>
  </div>
                  
</section>


<a class="scroll" data-speed="2000" href="#home">   <div id="square"> ^</div></a>
<script src="animate.js"></script>
<script src="scroll.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58427467-2', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
