<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="style.css?bedc565d">
  <link rel="stylesheet" href="animate.css?bedc6a5d">

</div>
</head>

<body>
<div class="create">

  
  <div id="oops">
 
    
  <h3>oops! this page does not exist
  </h3> 
  
    

  

    <object data="jeannie.svg" type="image/svg+xml" class="jeanner">
    </object>  
    <object data="bryan.svg" type="image/svg+xml" class="beanner">
    </object>
    <object data="belt.svg" id="belt" type="image/svg+xml" class="">
    </object>
 
  </div>
<!-- PART5 -->
<footer>
  <div class="part7">   
  
    <div class="copy">
      <a href="http://kickpunchcreative.com">kick punch creative</a>&nbsp; | &nbsp;omaha web design & creative agency &nbsp; | &nbsp; <a href="tel:4029150518">402.915.0518</a> &nbsp; | &nbsp; omaha, ne
    </div>
  </div>
</footer>

<script src="index.js"></script>
<script src="animate.js"></script>
</body>
</html>