


 <section id="page-container-success">
        
    <div id="header-success">SUCCESS!
    <p> is what you'll reek of when the world see's your new visual content.</p>
    <p>[ we'll call you soon ]</p></div>
    
        
 
   
 <object id="success" type="image/svg+xml" data="assets/success.svg" class="">
 </object>
 
 
        </div>
     

      
      </section>
      
      
      <!-- </div> -->
      
      
      
      
                     
