
<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Kick Punch Creative | Our Team </title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Meet Our Team. Kick Punch Creative is Jeannie & Bryan North. We design micro-content for social media, infographics, micro-sites and more!" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Kick Punch Creative | Our Team"/>
  <meta property="og:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web."/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://kickpunchcreative.com/shareablekpc.png"/>
  <meta property='og:site_name' content="Kick Punch Creative | Our Team"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Kick Punch Creative | Our Team">
  <meta name="twitter:description" content="Meet Our Team. Kick Punch Creative is Jeannie & Bryan North. We design micro-content for social media, infographics, micro-sites and more!">
  <meta name="twitter:image" content="http://kickpunchcreative.com/shareablekpc.png">


  <section id="page-container-success" >
        
    <div id="header-success" >MEET OUR TEAM!
      <p> The totally awesome Kick Punch duo, at your service.</p>
      
    </div>
    
        
 
    <div id="bj-wrapper" class="clearfix center">
      <div id="jeannie-wrap">
        <b><p>Jeannie North</b>
        <br> operations director | designer | developer</p>
        <object id="team-jeannie" type="image/svg+xml" data="assets/team-jeannie.svg" class="">
        </object>
        
      </div>
      <div id="jeannie-wrap">
        <b><p>Bryan North</b>
       <br>creative director | designer | joke-maker</p>
 
        <object id="team-bryan" type="image/svg+xml" data="assets/team-bryan.svg" class="">
        </object>
      </div>
    </div>
 
 
  </div>
     

      
</section>
      
      
<!-- </div> -->
      
      
      
      
                     
