<!-- METADATA -->
<title>Kick Punch Creative | Our Team </title>
<meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Meet our Team." />


  <section id="page-container-success" >
        
    <div id="header-success" >MEET OUR TEAM!
      <p> The totally awesome Kick Punch duo, at your service.</p>
      
    </div>
    
        
 
    <div id="bj-wrapper" class="clearfix center">
      <div id="jeannie-wrap">
        <b><p>Jeannie North</b>
        <br> operations director | designer | developer</p>
        <object id="team-jeannie" type="image/svg+xml" data="assets/team-jeannie.svg" class="" alt="Jeannie North">
        </object>
        
      </div>
      <div id="jeannie-wrap">
        <b><p>Bryan North</b>
       <br>creative director | designer | joke-maker</p>
 
        <object id="team-bryan" type="image/svg+xml" data="assets/team-bryan.svg" class="" alt="Bryan North">
        </object>
      </div>
    </div>
 
 
  </div>
     

      
</section>
      
      
<!-- </div> -->
      
      
      
      
                     
