<!-- METADATA -->
<title>Kick Punch Creative | Our Work</title>
<meta name="description" content="Kick Punch Creative specializes in logo design, website design and visual content for social and web in Omaha, Nebraska." />


<section id="page-container-work">
   

   
 
      
  <!-- <div id="page-container-work"> -->
      
      
      
      
    <!-- work -->
        
    <div id="work-wrapper" class="clearfix">
      <h1> A SAMPLE OF OUR WORK </h1> 
      
      <a target="blank" href="http://hello.kickpunchcreative.com/316-strategy-group-in-omaha-logo-branding/"> <div id="work19" class="">
        <div class="overlay animated">
          316 Strategy Group Branding
          <!-- <button class="center margin-top-again">view work</button> -->
        </div>
      </div>
    </a>
      
    <a target ="blank" href="http://www.omaha.dog">
      <div id="work6" class="left" alt="omaha.dog web design omaha">
        <div class="overlay animated">
          The Omaha.Dog Website
          <!-- button class="center margin-top-again">view work</button> -->
        </div>
      </div>
    </a>

    <!-- work 1 -->
    <!-- <div id="work4" class="left"  alt="what type of huskers fan are you?">
      <div class="overlay animated">
      Nebraska Huskers Quiz -->
          
      <!-- </div>
        </div> -->

          
          
        <!-- work 2 -->
        <a target="blank" href="http://hello.kickpunchcreative.com/gig-poster-pedersen-neemann/"><div id="work8" class="left"  alt="gig poster omaha">
          <div class="overlay animated">
            Illustrated Gig Poster for Pedersen and Neeman
            <!-- <a target="blank" href="http://hello.kickpunchcreative.com/gig-poster-pedersen-neemann/"><button class="center margin-top-again">view work</button></a> -->
          </div>
        </div>
      </a>

      <a target ="blank" href="http://hello.kickpunchcreative.com/cry-baby-brewery-label/">
        <div id="work10" class="left" alt="brewery design omaha">
          <div class="overlay animated">
            Beer Label Illustration for Cry Baby Brewery
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
      </a>
      
      <a target ="blank" href="http://www.drazicconstruction.com">
        <div id="work7" class="left" alt="drazic construction logo design and website design omaha">
          <div class="overlay animated">
            Logo & Branding for Drazic Construction
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
      </a>


      <a target ="blank" href="http://hello.kickpunchcreative.com/aspirations-counseling-branding-and-website/">
        <div id="work5" class="left" alt="aspirations counseling logo design omaha">
          <div class="overlay animated">
            Website and Branding for Aspirations Counseling in Omaha
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
      </a>

      <div id="work9" class="left" alt="omaha skyline">
        <div class="overlay animated">
          Artwork of Omaha Skyline
          <!-- <button class="center margin-top-again">view work</button> -->
        </div>
      </div>
 

      <div id="work3" class="left" alt="omaha food trucks">
        <div class="overlay animated">
          Animated Infographic for Omaha Foodtrucks
          <!-- <button class="center margin-top-again">view work</button> -->
        </div>
      </div>
  
       
    
        
      <!-- logos -->
      <br>
      <div class="break"></div>
      <h1> CLIENTS </h1>

      <div id="work17" class="left" alt="316 Strategy Group Omaha">
      </div>
      
     
      <div id="work12" class="left" alt="crybaby brewery logo">
      </div>
       
    
      <div id="work13" class="left" alt="travel baby logo design omaha">
      </div>
   <div id="work14" class="left" alt="omaha.dog logo design omaha">
   </div>
      <div id="work16" class="left" alt="lucy goes to">
      </div>
     
        
      <div id="work15" class="left" alt="bk exteriors logo design omaha">
      </div>
      <div id="work11" class="left" alt="drazic construction logo design omaha">
      </div>
      <div id="work18" class="left" alt="shine art designs logo design omaha">
      </div>
        
     
        

      
    </section>
      
      
    <!-- </div> -->
      
      
      
      
                     
