<!-- METADATA -->
<title>Kick Punch Creative | Our Work</title>
<meta name="description" content="Kick Punch Creative specializes in visual content for social and web. Here is some of our work." />


 <section id="page-container-work">
   

   
 
      
    <!-- <div id="page-container-work"> -->
      
      
      
      
        <!-- work -->
        
      <div id="work-wrapper" class="clearfix">
          <h1> A SAMPLE OF OUR WORK </h1> 

         <!-- work 1 -->
        <div id="work4" class="left"  alt="what type of huskers fan are you?">
          <div class="overlay animated">
            Nebraska Huskers Quiz
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>

          
          
          <!-- work 2 -->
          <div id="work8" class="left"  alt="gig poster">
          <div class="overlay animated">
            Illustrated Gig Poster for Pedersen and Neeman
            <!-- <a target="blank" href="http://hello.kickpunchcreative.com/gig-poster-pedersen-neemann/"><button class="center margin-top-again">view work</button></a> -->
          </div>
        </div>

      
       


          <div id="work9" class="left" alt="omaha skyline">
          <div class="overlay animated">
            Artwork of Omaha Skyline
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
          <div id="work6" class="left" alt="omaha.dog">
          <div class="overlay animated">
            The Upcoming Omaha.Dog Website
            <!-- button class="center margin-top-again">view work</button> -->
          </div>
        </div>

          <div id="work5" class="left" alt="aspirations counseling">
          <div class="overlay animated">
            Website and Branding for Aspirations Counseling in Omaha
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>

          <div id="work10" class="left" alt="hodor">
          <div class="overlay animated">
            Beer Label Illustration for Cry Baby Brewery
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
          <div id="work3" class="left" alt="omaha food trucks">
          <div class="overlay animated">
            Animated Infographic for Omaha Foodtrucks
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>
       
        
          <div id="work7" class="left" alt="drazic construction">
          <div class="overlay animated">
            Logo & Branding for Drazic Construction
            <!-- <button class="center margin-top-again">view work</button> -->
          </div>
        </div>

      
      </section>
      
      
      <!-- </div> -->
      
      
      
      
                     
