
<!DOCTYPE html>
<html>
<head>
  <html lang="en">
  <!-- METADATA -->
  <title>Kick Punch Creative | Our Work</title>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Here is a sample of our work." />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


  <!-- SOCIAL METADATA -->
  <meta property="og:locale" content="en_US"/>
  <meta property='fb:admins' content='1499820013'/>
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="Kick Punch Creative | Our Work"/>
  <meta property="og:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Here is a sample of our work."/>
  <meta property="og:url" content="http://url.to.com/infographic/url"/>
  <meta property="og:image" content="http://url.to.com/infographic/url/img/share-title.png"/>
  <meta property='og:site_name' content="Kick Punch Creative | Our Work"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@********">
  <meta name="twitter:title" content="Kick Punch Creative | Our Work">
  <meta name="twitter:description" content="Kick Punch Creative is an Omaha Micro Design Agency specializing in content and visuals for social media and web. Here is a sample of our work.">
  <meta name="twitter:image" content="http://kickpunchcreative.com/shareablekpc.png">


 <section id="page-container-work">
   

   
 
      
    <!-- <div id="page-container-work"> -->
      
      
      
      
        <!-- work -->
        
      <div id="work-wrapper" class="clearfix">
          <h1> SOME OF OUR FAVORITE WORK </h1> 

         <!-- work 1 -->
        <div id="work4" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>

          
          
          <!-- work 2 -->
          <div id="work8" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>

      
          <div id="work3" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work7" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work5" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work6" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>

      
      </section>
      
      
      <!-- </div> -->
      
      
      
      
                     
