<!-- METADATA -->
<title>Kick Punch Creative | Our Work</title>
<meta name="description" content="Kick Punch Creative specializes in visual content for social and web. Here is some of our work." />


 <section id="page-container-work">
   

   
 
      
    <!-- <div id="page-container-work"> -->
      
      
      
      
        <!-- work -->
        
      <div id="work-wrapper" class="clearfix">
          <h1> A SAMPLE OF OUR WORK </h1> 

         <!-- work 1 -->
        <div id="work4" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>

          
          
          <!-- work 2 -->
          <div id="work8" class="left" alt="what type of huskers fan are you?">
          <div class="overlay animated">
            <a target="blank" href="http://hello.kickpunchcreative.com/gig-poster-pedersen-neemann/"><button class="center margin-top-again">view work</button></a>
          </div>
        </div>

      
          <div id="work3" class="left" alt="gig poster">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work6" class="left" alt="omaha food trucks">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work5" class="left" alt="omaha.dog">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>


          <div id="work7" class="left">
          <div class="overlay animated">
            <button class="center margin-top-again">view work</button>
          </div>
        </div>

      
      </section>
      
      
      <!-- </div> -->
      
      
      
      
                     
