@media (max-width: 3000px){
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



  #home {
    position:relative;
    width:100%;
    
    /*  border:1px solid red;*/
  
  }

  .center {
    position:relative;
    margin-right:auto;
    margin-left:auto;
    display:block;
  }

  body {
    margin: 0;
  }

  /*clear fix*/
  .clearfix::after {
    content:" ";
    display:table;
    clear:both;
  
  }
  
  #hero {
    position:absolute;
    width:100%;
  }
  

  
  #truck {
    position:absolute;
    width:42%;
    margin-top:15%;
    left:25%;
    z-index:300;
  
  }
  
  #foodtrucks {
    position:relative;
    width:100%;
    z-index:0;
    
  }
  .skyline {
    position:relative;
    width:101%;
    
  }
  #socialwrap {
    width:20%;
    float:right;
/*    border:1px solid red;*/
    margin-top:10%;
    margin-left:30px;
  }
  
  #textwrap {
    width:40%;
    float:left;
/*    border:1px solid red;*/
   
  }
  .social {
    width:50%;
  }
  .icon {
    width:55%;
    margin-top:-5%;
    margin-right:20px;
    float:right;
  }
  
  .sign {
    width:55%;
    margin-top:8%;
    margin-right:20px;
    float:right;
  }
  #partthree {
    margin:2%;
  }
  #columnone {
    width:50%;
    float:left;
/*    border:1px solid;*/
    
  }
  #columntwo {
    width:50%;
    float:left;
/*    border:1px solid;*/
    
  }
  
  #hero-text {
    position:absolute;
    margin-top:3%;
    left:35%;
    width:30%;
    z-index:300;
  }
  
  h1 {
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#4F5069;
    font-size:35px;
    margin-bottom:-20px;
  }
  
  h3 {
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#4F5069;
    font-size:45px;
    margin-bottom:-20px;
  }
  h2 {
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#4F5069;
    font-size:35px;
    font-weight:100;
    margin-bottom:-20px;
  }
  
  #parttwo {
    position:relative;
    display:block;
    background-color:#4F5069;
    width:100%;
    padding:3%;
    margin:0;
    
  }
  
  p {
    position:relative;
    text-align:center;
    font-size:220%;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  
}

@media (max-width: 1280px){
  p {
    position:relative;
    text-align:center;
    font-size:120%;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  
  h1 {
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#4F5069;
    font-size:20px;
    margin-bottom:-20px;
  }

}

@media (max-width: 953px){
  p {
    position:relative;
    text-align:center;
    font-size:100%;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  
  h1 {
    text-align:center;
    font-family: 'Roboto Slab', serif;
    color:#4F5069;
    font-size:20px;
    margin-bottom:-10px;
  }
  .skyline {
    margin-top:200px;
  }
  #truck {
    position:absolute;
    width:70%;
    margin-top:20%;
    left:9%;
    z-index:300;
  
  }
  
  #hero-text {
    position:absolute;
    margin-top:3%;
    left:26%;
    width:50%;
    z-index:300;
  }

}
@media (max-width: 822px){
  p {
    position:relative;
    text-align:center;
    font-size:110%;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  

  #truck {
    position:absolute;
    width:70%;
    margin-top:25%;
    left:9%;
    z-index:300;
  
  }
  


}

@media (max-width: 610px){
  p {
    position:relative;
    text-align:center;
    font-size:30px;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  

  #truck {
    position:absolute;
    width:450px;
    margin-top:29%;
    left:9%;
    z-index:300;
  
  }
  


}

@media (max-width: 416px){
  p {
    position:relative;
    text-align:center;
    font-size:24px;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  

  #truck {
    position:absolute;
    width:360px;
    margin-top:31%;
    left:1%;
    z-index:300;
  
  }
  
  .skyline {
    margin-top:170px;
  }
  #hero-text {
    position:absolute;
    margin-top:3%;
    left:16%;
    width:70%;
    z-index:300;
  }

}

@media (max-width: 320px){
  p {
    position:relative;
    text-align:center;
    font-size:21px;
    font-family: 'Roboto Slab', serif;
    color:white;
    font-weight:300;
    
  }
  

  #truck {
    position:absolute;
    width:360px;
    margin-top:27%;
    left:-8%;
    z-index:300;
  
  }
  
  .skyline {
    margin-top:170px;
  }
  #hero-text {
    position:absolute;
    margin-top:3%;
    left:16%;
    width:70%;
    z-index:300;
  }

}

  
