#page-container-work{display:block;position:relative;margin-top:150px;width:100%;z-index:1;}
#page-container-success{background-color:#F9F9F9;padding-top:150px;}
#bj-wrapper{position:relative;margin-left:auto;margin-right:auto;display:block;width:60%;}
#team-jeannie{width:100%;}
#jeannie-wrap{position:relative;display:block;float:left;width:47%;margin:1%;}
#bryan-wrap{position:relative;display:block;float:left;width:47%;margin:1%;}
#team-bryan{width:100%;}
#quote-form{width:50%;bottom:30px;}
#header-success{position:relative;display:block;margin-left:auto;margin-right:auto;margin-bottom:50px;text-align:center;width:60%;font-family:'Dosis', sans-serif;font-size:255%;font-weight:200;color:#363636;}
#success{position:relative;display:block;top:0;width:50%;margin-left:auto;margin-right:auto;}
#work-wrapper{position:relative;width:100%;max-width:1500px;display:block;margin-right:auto;margin-left:auto;margin-top:10px;z-index:1;}
.clearfix::after{content:" ";display:table;clear:both;}
h4{font-family:'Dosis', sans-serif;font-size:215%;font-weight:200;color:#363636;text-align:center;padding:1.5%;margin-top:0;color:white;}
h5{font-family:'Dosis', sans-serif;font-size:120%;font-weight:200;color:#363636;text-align:center;margin-top:-50px;color:white;color:white;}
#work7{position:relative;width:48%;background-image:url("../assets/coffeetruckmock.png");background-size:cover;background-position:50% 40%;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work19{position:relative;width:48%;background-image:url("../assets/316preview.png");background-size:cover;background-position:50% 60%;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work8{position:relative;width:48%;background-image:url("../assets/pedersen.jpg");background-size:cover;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work3{position:relative;width:48%;background-image:url("../assets/sharefoodtruck.png");background-position:51% 60%;background-size:cover;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work4{position:relative;width:48%;background-image:url("../assets/dospace.svg");background-size:cover;background-position:50% 60%;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work5{position:relative;width:48%;background-image:url("../assets/MOXIE.png");background-size:cover;background-position:51% 60%;background-color:#2CBDC2;height:300px;margin:1%;float:left;}
#work6{position:relative;width:48%;background-image:url("../assets/mycity.dog.png");background-size:cover;background-position:50% 70%;height:300px;margin:1%;float:left;}
#work21{position:relative;width:48%;background-image:url("../assets/genoog.png");background-size:cover;background-position:50% 50%;height:300px;margin:1%;float:left;}
#work9{position:relative;width:48%;background-image:url("../assets/SPGC.png");background-size:cover;background-position:50% 30%;height:300px;margin:1%;float:left;}
#work10{position:relative;width:48%;background-image:url("../assets/crybaby.png");background-size:cover;background-position:50% 40%;height:300px;margin:1%;float:left;}
#work11{position:relative;width:25%;background-image:url("../assets/draziclogo.svg");background-size:cover;background-position:50% 40%;width:290px;height:220px;margin:1%;float:left;}
#work12{position:relative;width:25%;background-image:url("../assets/crybabylogo.svg");background-size:cover;background-position:50% 40%;width:250px;height:220px;margin:1%;float:left;}
#work13{position:relative;width:25%;background-image:url("../assets/travelbabylogo.svg");background-size:cover;background-position:50% 40%;height:320px;margin:1%;float:left;}
#work14{position:relative;width:25%;background-image:url("../assets/omahadog-logo.svg");background-size:cover;background-position:50% 40%;width:155px;height:150px;margin:1%;float:left;}
#work15{position:relative;width:25%;background-image:url("../assets/bklogo.svg");background-size:cover;background-position:50% 40%;width:200px;height:195px;margin:1%;float:left;}
#work16{position:relative;width:25%;background-image:url("../assets/aim.png");background-size:cover;background-position:50% 40%;width:200px;height:100px;margin:1%;float:left;}
#work17{position:relative;width:25%;background-image:url("../assets/316.svg");background-size:cover;background-position:50% 40%;width:160px;height:220px;margin:1%;float:left;}
#work18{position:relative;width:25%;background-image:url("../assets/nfmlogo.svg");background-size:cover;background-position:50% 40%;width:280px;height:150px;margin:1%;float:left;}


#work8:hover > .overlay ,
#work7:hover > .overlay,
#work3:hover > .overlay,
#work4:hover > .overlay,
#work5:hover > .overlay,
#work9:hover > .overlay,
#work10:hover > .overlay,
#work19:hover > .overlay,
#work21:hover > .overlay,
#work6:hover > .overlay{display:block;-webkit-animation-name:fadeInDown;animation-name:fadeInDown;font-family:'Dosis', sans-serif;font-size:215%;font-weight:200;color:#363636;text-align:center; padding:5%;padding-top:15%;}
h1.white.centered{text-align:center; }

#connect {
  width:300px;
  
}

#clients {
  position:relative;
  width:85%;
  margin-bottom:3%;
  
}
@media (max-width:858px){#work-wrapper{position:relative;width:90%;margin-left:auto;margin-right:auto;margin-top:150px;}
#work8,
#work7,
#work3,
#work4,
#work5,
#work9,
#work10,
#work19,
#work21,
#work6{width:100%;height:300px;margin-left:auto;margin-right:auto;}

#work11,
#work12,
#work13,
#work14,
#work15,
#work16,
#work17,

#work18
{width:50%;height:270px;margin-left:auto;margin-right:auto;}
#quote-form{width:80%;}

#work22 {
  width:250px; height:150px;margin-left:auto;margin-right:auto;
}

}
@media (max-width:450px){

#bryan-wrap{float:none;width:100%;}
#jeannie-wrap{float:none;width:100%;}
#work11,
#work12,
#work13,
#work14,
#work15,
#work16,
#work17,
#work22,
#work18
{width:90%;margin-left:20px;margin-right:auto;height:250px;}
#quote-form{width:80%;}

#clients {
  position:relative;
  width:80%;
  margin-right:40px;
}
#work18 {
  top:-55px;
}
}

@media (max-width:414px){
  #success{width:100%;}
#quote-form{width:90%;}
#work22,#work18 {
  width:270px; height:150px;margin-left:auto;margin-right:auto;
}

}


@media (max-width:320px){
#work11,
#work12,
#work13,
#work14,
#work15,
#work16,
#work17,
#work22,
#work18
{width:250px;height:300pxmargin-left:auto;margin-right:auto;}


}