html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width:100%;
  /*  border:1px solid red;*/
  
}

a {
  text-decoration:none;
  color:#3D383A;
}

a:hover {
  color:#2CBDC2;
}

.break {
  display:inline-block;
  width:210px;
/*  margin-left:100px;*/
  margin-right:-35px;
  display:visible;
  background-color:white;
  height:10px;
}
nav {
  position:absolute;
  top:0;
  
  width:100%;
}
nav li {
  display:inline;
  margin-left:40px;
  font-family:'Dosis', sans-serif;
  font-size:20px;
  font-weight:400;
}

.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
/*  border:1px solid;*/
}

.center1 {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
/*  border:1px solid;*/
  width:850px;
}

body {
  position:relative;
  margin: 0;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

header {
  background-color:white;
  position:fixed;
  display:block;
  top:0px;
  left:0;
  height:60px;
  width:100%;
  z-index:5000;
}
.logo {
  width:200px;
  position:relative;
  display:block;
  z-index:5001;
}

#part-one {
  position:relative;
  width:100%;
  background-color:#F9F9F9;
  height:690px;
  overflow:hidden;
  z-index:1;
}
.jeanniebryan {
  position:absolute;
  display:block;
  bottom:-15px;
  width:52%;
  left:25%;
}

#skyline {
  position:absolute;
  display:block;
  bottom:-25%;
  width:100%;
}

#cloud1 {
  width:20%;
  position:absolute;
  top:5%;
  right:5%;
}

#cloud2 {
  width:15%;
  position:absolute;
  top:15%;
  left:10%;
}


 