html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#home {
  position:relative;
  width:100%;
  /*  border:1px solid red;*/
  
}

a {
  text-decoration:none;
  color:#3D383A;
}

a:hover {
  color:#2CBDC2;
}

.break {
  display:inline-block;
  width:210px;
/*  margin-left:100px;*/
  margin-right:-35px;
  display:visible;
  background-color:white;
  height:10px;
}
nav {
  position:absolute;
  top:0;
  
  width:100%;
}
nav li {
  display:inline;
  margin-left:40px;
  font-family:'Dosis', sans-serif;
  font-size:20px;
  font-weight:400;
}

button {
  background-color:#2CBDC2;
  border:none;
  color:white;
  font-family:'Dosis', sans-serif;
  font-size:20px;
  padding: 2% 5% 2% 5%;
}

button:hover {
  background-color:#363636;
  
}

.submit {
  background-color:gray;
  border:none;
  color:white;
  font-family:'Dosis', sans-serif;
  font-size:20px;
  padding: 2% 5% 2% 5%;
}

.margin-top {
  margin-top:-40px;
}
.margin-top-plus {
  top:100px;
}

h1 {

    font-family:'Dosis', sans-serif;
    font-size:215%;
    font-weight:200;
    color:#363636;
    text-align:center;
    padding:1.5%;
  
 
}

p {
  font-family:'Dosis', sans-serif;
  font-size:23px;
  font-weight:400;
  color:#363636;
  text-align:center;
  
}

p.large {
  font-size:35px;
}

hr {
  width:300px;
}

.center {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
/*  border:1px solid;*/
}

.center1 {
  position:relative;
  margin-right:auto;
  margin-left:auto;
  display:block;
/*  border:1px solid;*/
  width:850px;
}

body {
  position:relative;
  margin: 0;
}

/*clear fix*/
.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

header {
  background-color:white;
  position:fixed;
  display:block;
  top:0px;
  left:0;
  height:60px;
  width:100%;
  z-index:5000;
}
.logo {
  width:180px;
  position:relative;
  display:block;
  z-index:5001;
}

#part-one {
  position:relative;
  width:100%;
  background-color:#F9F9F9;
  height:560px;
  overflow:hidden;
  z-index:1;
}
.jeanniebryan {
  position:absolute;
  display:block;
  bottom:-15px;
  width:52%;
  left:25%;
}

#skyline {
  position:absolute;
  display:block;
  bottom:-25%;
  width:100%;
}

#cloud1 {
  width:20%;
  position:absolute;
  top:5%;
  right:5%;
}

#cloud2 {
  width:15%;
  position:absolute;
  top:15%;
  left:10%;
}

/*part two*/

#toptext {
  position:relative;
  top:190px;
  display:block;
  width:30%;
  left:100px;
  border:1px;
  
  z-index:1;
  
}

#part-two {
  margin:1% 5% 1% 5%;
}
#quote1 {
  width:50%;
/*  border-right:1px solid;*/
}
#services {
  margin:2% 0 0 0;
  padding:3%;
  padding-bottom:6%;
  background-color:#F9F9F9;
}

.quote-text {
  position:relative;
  border:1px solid;
  width:40%;
}

#contact {
  margin:-3% 0 2% 0;
  padding:3% 5% 3% 5%;
  background-color:white;
}

.floatleft{
  float:left;
}
.floatright{
  float:right;
}

.cube {
  width:23%;
  margin:1%;
}

#form {
/*  background-color:#2CBDC2;*/
  background-image:url("../assets/belt.svg");
  background-size:cover;
  background-repeat:no-repeat;
  width:100%;
  
}

.twitter {
  position:absolute;
  top:8px;
  right:10px;
  width:40px;
}
.facebook {
  position:absolute;
  top:8px;
  right:50px;
  width:38px;
}

.form {
  background-color:white;
  font-family:'Dosis', sans-serif;
  font-size:15px;
  font-weight:400;
  color:#363636;
  width:100%;
  border:none;
  padding:1%;
  height:50px;
}

h2 {

  font-family:'Dosis', sans-serif;
  font-size:25px;
  font-weight:400;
  color:white;
  width:100%;
  border:none;
  margin:2%;
}

#formcontainer {
  width:50%;
}

#work {
  width:75%;
/*  border:1px solid;*/
}
#work1{
  width:45%;
  background-color:#2CBDC2;
  height:300px;
  margin-right:10%;
}

#work2{
  width:45%;
  background-color:#2CBDC2;
  height:300px;
}


 