


#page-container-work {
  display:block;
  position:relative;
  margin-top:150px;
  width:100%;
  z-index:1;
/*   border:1px solid;*/
}

#page-container-success {
  background-color:#F9F9F9;
  padding-top:150px;


}

#bj-wrapper {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  display:block;
  width:60%;
}
#team-jeannie {
  width:100%;
}

#jeannie-wrap{
  position:relative;
  display:block;
  float:left;
  width:47%;
  margin:1%;
/*  border:1px solid;*/
}

#bryan-wrap{
  position:relative;
  display:block;
  float:left;
  width:47%;
  margin:1%;
/*  border:1px solid;*/
}

#team-bryan {
width:100%;
}

#quote-form {
  width:50%;
  bottom:30px;
}

#header-success {
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
  text-align:center;
  width:60%;
  font-family:'Dosis', sans-serif;
  font-size:255%;
  font-weight:200;
  color:#363636;
  
 
  
}
#success {
  position:relative;
  display:block;
  top:0;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  
 
  
}

#work-wrapper{
  position:relative;
  width:100%;
  max-width:1500px;
  display:block;
  margin-right:auto;
  margin-left:auto;
/*  background-color:#F9F9F9;*/
  margin-top:10px;
  z-index:1;
/*  border:1px solid;*/
  
}

.clearfix::after {
  content:" ";
  display:table;
  clear:both;
  
}

h4 {
  font-family:'Dosis', sans-serif;
  font-size:215%;
  font-weight:200;
  color:#363636;
  text-align:center;
  padding:1.5%;
  margin-top:0;
  color:white;
}

h5 {
  font-family:'Dosis', sans-serif;
  font-size:120%;
  font-weight:200;
  color:#363636;
  text-align:center;
  margin-top:-50px;
  color:white;
 
  
  color:white;
}

#work7{
  position:relative;
  width:48%;
  background-image:url("../assets/drazic.png");
  background-size:cover;
  background-position:50% 60%;
  background-color:#2CBDC2;
  height:300px;
  margin:1%;
  float:left;
 

}



#work8{
  position:relative;
  width:48%;
  background-image:url("../assets/pedersen.jpg");
  background-size:cover;
  background-color:#2CBDC2;
  height:300px;
  margin:1%;
  float:left;
}

#work3{
  position:relative;
  width:48%;
  background-image:url("../assets/sharefoodtruck.png");
  background-position:51% 60%;
  background-size:cover;
  background-color:#2CBDC2;
  height:300px;
  margin:1%;
  float:left;
}

#work4{
  position:relative;
  width:48%;
  background-image:url("../assets/huskersquiz.png");
  background-size:cover;
  background-position:50% 60%;
  background-color:#2CBDC2;
  height:300px;
  margin:1%;
  float:left;
 
}

#work5{
  position:relative;
  width:48%;
  background-image:url("../assets/aspirations.png");
  background-size:cover;
  background-position:51% 60%;
  background-color:#2CBDC2;
  height:300px;
  margin:1%;
  float:left;
 
}

#work6{
  position:relative;
  width:48%;
  background-image:url("../assets/omahadog.jpg");
  background-size:cover;
  background-position:50% 50%;
  background-color:white;
  height:300px;
  margin:1%;
 float:left;
}

#work9{
  position:relative;
  width:48%;
  background-image:url("../assets/omahasky.jpg");
  background-size:cover;
  background-position:50% 50%;
  background-color:white;
  height:300px;
  margin:1%;
 float:left;
}

#work8:hover > .overlay ,
#work7:hover > .overlay,
#work3:hover > .overlay, 
#work4:hover > .overlay,
#work5:hover > .overlay,
#work6:hover > .overlay {
  display:block;
  -webkit-animation-name:fadeInDown;animation-name:fadeInDown;
  
}

h1.white.centered {
  text-align:center;
  
}


@media  (max-width: 858px) {

#work-wrapper{
  position:relative;
  width:90%;
  margin-left:auto;
  margin-right:auto;
/*  border:1px solid;*/
  margin-top:150px;
}

#work8,
#work7,
#work3, 
#work4,
#work5,
#work6 {
  width:100%;  
  margin-left:auto;
  margin-right:auto;
}



#quote-form {
  width:80%;
}

@media  (max-width: 450px){
  #bryan-wrap {
    float:none;
    width:100%;
  }
  #jeannie-wrap {
    float:none;
    width:100%;
  }
}

@media  (max-width: 414px) {
  
  #success {
    width:100%;
  }
  #quote-form {
    width:90%;
  }
}
